.quick-start-setup {
    font-family: "Tahoma", Arial, sans-serif;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    direction: rtl;
    text-align: right;
}

.step-container {
    text-align: center;
    animation: fade-in 0.5s ease-in-out;
}

.step-container h1 {
    margin-bottom: 10px;
}

.content {
    margin-top: 20px;
    animation: slide-in 0.5s ease-in-out;
}

.progress-bar {
    width: 100%;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
}

.progress {
    height: 20px;
    background-color: var(--main-color);
    width: 0;
    transition: width 0.3s ease-in-out;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.quick-start-setup button {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quick-start-setup button:hover {
    background-color: var(--main-color);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}