.model_box {
    height: 40px;
    width: 100px;
    min-width: max-content;
    padding: 10px;
    border: 1px solid #ddd;
    position: relative;
    margin: 0 5px;

}

.model_box .delete_btn {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: red;
}

.model_box:hover .delete_btn {
    opacity: 1;
    background-color: #f4b6b6d3;
}